@font-face {
    font-family: Noto;
    src: url("NotoSans-Regular.ttf");
}

body {
    font-family: Noto;
}

div.outer {
    font-size: 14pt;
    color: red;
    text-align: justify;
    width: 80%;
    margin-bottom: 2em;
}

img {
    width: 20%;
}

.img-left {
    float: left;
    margin-right: 0.5em;
    margin-bottom: 0.25em;
}

.img-right {
    float: right;
    margin-left: 0.5em;
    margin-bottom: 0.25em;
}


table {
    border: 1px solid black;
    width: 50%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    text-align: center;
}

