body {
    font-family: Arial;
}

h1 {
    color: blue;
    font-size: 72pt;
}

h2 {
    color: green;
    font-size: 56pt;
}
h3 {
    color: red;
    font-size: 38pt;
}
h4 {
    color: pink;
    font-size: 20pt;
}
h5 {
    color: blue;
    font-size: 12pt;
}
